<app-carousel
  [slides]="slides"
  [captionTemplate]="captionTpl"
></app-carousel>

@if (selectedSlide()?.items; as items) {
  <div class="modal-backdrop show">
    <div class="modal d-block" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              Popularne Buildy: {{ selectedSlide()?.title }}
            </h5>
            <button
              type="button"
              class="btn-close"
              aria-label="Zamknij"
              (click)="closeBuilds()"
            ></button>
          </div>
          <div class="modal-body">
            <ul>
              @for (item of items; track item.name) {
                <li>
                  <button class="btn btn-link" (click)="showBuildDetails(item)">
                    {{ item.name }}
                  </button>
                </li>
              }
            </ul>
          </div>
          <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeBuilds()">
              Zamknij
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
}

@if (selectedBuild()) {
  <app-build [build]="selectedBuild()" (close)="closeBuildDetails()"></app-build>
}
<ng-template #captionTpl let-slide>
  <h5>{{ slide.title }}</h5>
  <p>{{ slide.text }}</p>
  <button class="btn btn-primary" (click)="showBuilds(slide)">
    Pokaż buildy
  </button>
</ng-template>
