<div class="sidenav" [class.sidenav-collapsed]="collapsed()">
  <div class="sidenav-top">
    <button class="toggle-btn" (click)="toggle()" aria-label="Toggle sidebar">Toggle</button>
  </div>

  <ul class="sidenav-nav" role="menu">
    <li class="sidenav-nav-item" *ngFor="let item of items">
      <a
        class="sidenav-nav-link"
        [routerLink]="item.routeLink"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        role="menuitem"
        title="{{ item.label }}"
      >
        <span class="sidenav-link-text">
          {{ item.label }}
        </span>
      </a>
    </li>
  </ul>
</div>
