/* You can add global styles to this file, and also import other style files */
body {

    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #e0e7ff 0%, #f0f4ff 50%, #e0ecff 100%);
}


html{
    
    margin: 0;
    padding: 0;
}
* {
    outline: none;
}

header {

    display: flex;
    padding-inline: 16px;
    padding-block: 8px;
    align-items: center;
    justify-content: space-between;
}